.login-page {
    overflow: hidden;
}

.login-page__picture {
    overflow: hidden;
}
.login-page__form {
    @apply rounded-lg content-center w-96 p-3 border-teal-600 border-2 shadow-md ;
    margin: auto;
    position: absolute;
    top: 15rem;
    left: 60rem;
    padding: 5px;
    background-color: white;
}

.login-page__header {
    @apply text-3xl font-bold p-3 justify-center;
    display:flex
}

.login-page__buttons {
    @apply grid-rows-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

