.container {
    margin: auto;
    height: 100%;
}


.login-page {
    height: 100%;
    background: url("var3.jpg");
}

.login-page__form {
    @apply rounded-lg content-center w-96 p-3 border-white border-2 shadow-2xl;
    background-color: white;
    height: 50%;
    float: right;
    margin-right: 10%;
    margin-top: 100px;
}

.login-page__header {
    @apply text-3xl font-bold p-3 justify-center;
    display:flex
}

.login-page__buttons {
    @apply grid-rows-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

